

<section class="about py-lg-5 py-md-5 py-5">
    <div class="container">
        <div class="inner-sec-w3pvt py-lg-5 py-3">
            <h3 class="tittle text-center mb-lg-5 mb-3 px-lg-5">GIỚI THIỆU VỀ CHÚNG TÔI</h3>
            <div class="feature-grids row mt-3 mb-lg-5 mb-3 mt-lg-5 text-center">
                <div class="col-lg-4" data-aos="fade-up">
                    <div class="bottom-gd px-3">
                        <span class="fa fa-bus" aria-hidden="true"></span>
                        <h3 class="my-4"> Sit Amet Mattis</h3>
                        <p>Integer sit amet mattis quam, sit amet ultricies velit. Praesent ullamcorper dui turpis.</p>
                    </div>
                </div>
                <div class="col-lg-4" data-aos="fade-up">
                    <div class="bottom-gd2-active px-3">
                        <span class="fa fa-car" aria-hidden="true"></span>
                        <h3 class="my-4"> Ultricies Velit</h3>
                        <p>Integer sit amet mattis quam, sit amet ultricies velit. Praesent ullamcorper dui turpis.</p>
                    </div>
                </div>
                <div class="col-lg-4" data-aos="fade-up">
                    <div class="bottom-gd px-3">
                        <span class="fa fa-rocket" aria-hidden="true"></span>
                        <h3 class="my-4">Amet Mattis Quam</h3>
                        <p>Integer sit amet mattis quam, sit amet ultricies velit. Praesent ullamcorper dui turpis.</p>
                    </div>
                </div>

            </div>
            <div class="fetured-info pt-lg-5">

                <div class="row fetured-sec mt-lg-5 mt-3">
                    <div class="col-lg-6 p-0">
                        <div class="img-effect">
                            <img src="images/img1.jpg" alt="" class="img-fluid image1">
                        </div>

                    </div>
                    <div class="col-lg-6 serv_bottom feature-grids pl-lg-5">
                        <div class="featured-left text-left">
                            <div class="bottom-gd px-3">
                                <span class="fa fa-plane" aria-hidden="true"></span>
                                <h3 class="my-4"> Ultricies Velit</h3>
                                <p>Integer sit amet mattis quam, sit amet ultricies velit. Praesent ullamcorper dui turpis.</p>
                            </div>
                            <div class="bottom-gd fea active p-4" data-aos="fade-left">
                                <span class="fa fa-rocket" aria-hidden="true"></span>
                                <h3 class="my-3 ">Mattis Quam</h3>
                                <p>Integer sit amet mattis quam, sit amet ultricies velit. Praesent ullamcorper dui turpis.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //services -->
</section>
